{% extends "master.html"%}

{% block content %}

<form method="post", action="">
    {% csrf_token %}
    <div class="row" style="margin-top: 20px;" >
        <div class="col-3" >
            {{form}}
            <!-- <input class="form-control" type="text" placeholder="List Name" value="name" required> -->
        </div>  
        <div class="col">
            <button class="btn btn-primary" type="submit">Save</button>
            <a type="button" class="btn btn-secondary" href="./">Back</a>
        </div>        
    </div>
</form>

{% endblock %}