{% extends "master.html"%}

{% block title %}
    Items List
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <ul class="list-group">
            {% for l in ListItems %}
                <li onclick="window.location = 'tasks/{{l.id}}'" class="list-group-item">{{l.name}}</li>
                {% empty %}
                <li>No items inserted</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% comment %}
<form method="post", action="">
{% csrf_token %}
    <div class="row" style="margin-top: 20px;" >
        <div class="col-3">
            <input class="form-control" type="text" placeholder="List Name" name="list_name" required>
        </div>

        <div class="col">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
        
    </div>
</form>
{% endcomment %}

<div class="row" style="margin-top: 20px;" >
    <div class="col">
        <button class="btn btn-primary" onclick="window.location = './add_item'">Add Item</button>
    </div>
</div>

{% endblock %}