{% extends "master.html"%}

{% block title %}
    Tasks List
{% endblock %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date Created</th>
        <th scope="col">Task</th>
        <th scope="col">Finished On</th>
      </tr>
    </thead>
    <tbody>
    {% for t in tasks %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{t.dateCreated}}</td>
        <td>{{t.taskText}}</td>
        <td>{{t.finishedAt}}</td>
      </tr>
      {% empty %}
        <td>No items inserted</td><td></td><td><td></td>
    {% endfor %}
    </tbody>
  </table>
  <button type="button" class="btn btn-secondary" onclick="window.location = '../'">Back</button>

{% endblock %}